<div class="message <%= user_is_messages_author ? "right" : "" %> ">
  <%# image_tag message.sender.avatar_url, class: "avatar" %>
  <div class="message-content"><%= message.body %> <p style="font-size: 8px">(<%= message.sender.first_name %>)</p></div>
</div>
