.suggest-form {
  color:black;
  background-color: rgba(198, 140, 119, 0.3);
  text-align: inline;
  border-radius: 3px;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;

  input, select, textarea {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.suggest-title {
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.add-session-btn {
  background-color: #C37F63 !important;
}

.review-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .review-title {
    margin-bottom: 0;
  }
}
