.title{
  text-align: center;
  padding: 20px;
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.social-media-content{
  display: flex;
  flex-direction: column;
  height: 50vh;
  border-right: solid 2px;
  border-right-color: rgba(151,151,151,0.3);


  // align-align: center;
  justify-content: center;
  padding-right: 40px;
  padding-bottom:5px;
}
abbr[title], abbr[data-original-title] {
  display:none;
}

.media-btn-one {
  padding-bottom: 20px;
}

.sign-in-btn {
  background-color: rgba(195,127,99,0.7);
  color: white;
  border-color:transparent;
}

.sign-in-btn:hover{
  color: white;
  background-color: #C37F63
}
