<div class="footer">
  <div class="footer-btns">

  <div class="col-xs-6 col-md-6">
      <p>© 2017 - All Rights with EduCrew</p>
    </div>
    <div class="col-xs-3 col-md-3">
      <ul>
        <div class="text-align">
          <li><%= link_to t(".btn-facebook", default: ""), new_user_session_path, class: "fa fa-facebook" %></li>
          <li><%= link_to t(".btn-instagram", default: ""), new_user_session_path, class: "fa fa-instagram" %></li>
          <li><%= link_to t(".btn-twitter", default: ""), new_user_session_path, class: "fa fa-twitter" %></li>
          <li><%= link_to t(".btn-linkedin", default: ""), new_user_session_path, class: "fa fa-linkedin" %></li>
        </div>
      </ul>
    </div>
  </div>
</div>

