<div class="navbar">
  <div class="footer-btns">

  <div class="col-xs-6 col-md-6">
      <img src="assets/images/icon.png" alt="Logo">
      <ul>
      <div class="text-align">
        <li>Become a tutor</li>
        <li>How it works</li>
      </div>
      </ul>

    </div>
    <div class="col-xs-3 col-md-3">
      <ul>
        <div class="text-align">
          <li>Sign up</li>
          <li>Log in</li>
        </div>
      </ul>
    </div>
  </div>
</div>

