<div class="homepage-banner">
  <div class="title-homepage">
    <h1>STUDY SMARTER, NOT HARDER</h1>
      <p>Group tutoring sessions suited to your course</p>
  </div>
        <div class="search-form">
          <%= form_tag sessions_path, method: 'get', class: "search-form-two" do %>
            <%= text_field_tag :subject, "", placeholder: 'Subject', class: "search-btn subject" %>
            <%= text_field_tag :university, "", placeholder: 'University', class: "search-btn university" %>
            <%= submit_tag "Find a session", class: "submit-btn btn" %>
            <% end %>

        </div>
</div>

