.card {
  color: white;
  transition: 0.3s;
  width: 100%;
  background-color: rgba(250,250,250, 1);
  height: 250px;
  margin-bottom: 20px;
  border-radius: 3px;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  &:hover {
    transform: scale(1.1);
    // .card-description {
    //   background-color: rgba(0,0,0,0.2);
    //   color: white;
    // }
  }
}

  .card i {
    color: white;
  }

.card-subject {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
}


.card-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wrapper {
background-color: #ECE1DE;
}

.main-title {
  position: absolute;
  top: 100px;

  width: 100%;
  padding: 8px;
}

.card-title {
  text-transform: capitalize;
  font-size: 20px;
}

.card-university {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: lighter;
}

.card-date {
  font-size: 12px;
  margin-top: 15px;
}

.card-date i {
  font-size: 12px;
  margin-right: 5px;
}

.card-details {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.card-avatar img {
  width: 60px;
}

.small-card-avatar {
  border-radius: 50%;
}

.card-price {
  font-size: 15px;
}

.card-price i {
  margin-right: 5px;
}

.card-duration {
  font-size: 15px;
}




.card-container {
  width: 900px;
  margin: 50px auto;
}


// .card-img-top{
//   background-size: cover;
//   background-position: center;
//   transition: .5s;
//   width: 100%;
//   height: 200px;
//   margin-bottom: 10px;
// }

// .card-author-price {
//   font-weight: bold;
//   font-size: 14px;
//   margin-bottom: 10px;
// }


// .card-description {
//   transition: .5s;
//   text-align: center;
//   padding: 20px;
//   background: transparent;
//   width: 100%;
//   height: 100%;
//   color: transparent;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.sessions-card-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
