// logo missing, issue with assets?

.navbar{
  background-color:white;

  img {
    width: 60px;
  }
}
.navbar ul li {
  list-style-type: none;
}

.text-align{
   display: flex;
   justify-content: space-between;
   padding: 10px 10px;
}
